pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.venc_source_CSS .hll { background-color: #ffffcc }
.venc_source_CSS .c { color: #408080; font-style: italic } /* Comment */
.venc_source_CSS .err { border: 1px solid #FF0000 } /* Error */
.venc_source_CSS .k { color: #008000; font-weight: bold } /* Keyword */
.venc_source_CSS .o { color: #666666 } /* Operator */
.venc_source_CSS .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.venc_source_CSS .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.venc_source_CSS .cp { color: #BC7A00 } /* Comment.Preproc */
.venc_source_CSS .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.venc_source_CSS .c1 { color: #408080; font-style: italic } /* Comment.Single */
.venc_source_CSS .cs { color: #408080; font-style: italic } /* Comment.Special */
.venc_source_CSS .gd { color: #A00000 } /* Generic.Deleted */
.venc_source_CSS .ge { font-style: italic } /* Generic.Emph */
.venc_source_CSS .gr { color: #FF0000 } /* Generic.Error */
.venc_source_CSS .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.venc_source_CSS .gi { color: #00A000 } /* Generic.Inserted */
.venc_source_CSS .go { color: #888888 } /* Generic.Output */
.venc_source_CSS .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.venc_source_CSS .gs { font-weight: bold } /* Generic.Strong */
.venc_source_CSS .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.venc_source_CSS .gt { color: #0044DD } /* Generic.Traceback */
.venc_source_CSS .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.venc_source_CSS .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.venc_source_CSS .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.venc_source_CSS .kp { color: #008000 } /* Keyword.Pseudo */
.venc_source_CSS .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.venc_source_CSS .kt { color: #B00040 } /* Keyword.Type */
.venc_source_CSS .m { color: #666666 } /* Literal.Number */
.venc_source_CSS .s { color: #BA2121 } /* Literal.String */
.venc_source_CSS .na { color: #7D9029 } /* Name.Attribute */
.venc_source_CSS .nb { color: #008000 } /* Name.Builtin */
.venc_source_CSS .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.venc_source_CSS .no { color: #880000 } /* Name.Constant */
.venc_source_CSS .nd { color: #AA22FF } /* Name.Decorator */
.venc_source_CSS .ni { color: #999999; font-weight: bold } /* Name.Entity */
.venc_source_CSS .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.venc_source_CSS .nf { color: #0000FF } /* Name.Function */
.venc_source_CSS .nl { color: #A0A000 } /* Name.Label */
.venc_source_CSS .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.venc_source_CSS .nt { color: #008000; font-weight: bold } /* Name.Tag */
.venc_source_CSS .nv { color: #19177C } /* Name.Variable */
.venc_source_CSS .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.venc_source_CSS .w { color: #bbbbbb } /* Text.Whitespace */
.venc_source_CSS .mb { color: #666666 } /* Literal.Number.Bin */
.venc_source_CSS .mf { color: #666666 } /* Literal.Number.Float */
.venc_source_CSS .mh { color: #666666 } /* Literal.Number.Hex */
.venc_source_CSS .mi { color: #666666 } /* Literal.Number.Integer */
.venc_source_CSS .mo { color: #666666 } /* Literal.Number.Oct */
.venc_source_CSS .sa { color: #BA2121 } /* Literal.String.Affix */
.venc_source_CSS .sb { color: #BA2121 } /* Literal.String.Backtick */
.venc_source_CSS .sc { color: #BA2121 } /* Literal.String.Char */
.venc_source_CSS .dl { color: #BA2121 } /* Literal.String.Delimiter */
.venc_source_CSS .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.venc_source_CSS .s2 { color: #BA2121 } /* Literal.String.Double */
.venc_source_CSS .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.venc_source_CSS .sh { color: #BA2121 } /* Literal.String.Heredoc */
.venc_source_CSS .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.venc_source_CSS .sx { color: #008000 } /* Literal.String.Other */
.venc_source_CSS .sr { color: #BB6688 } /* Literal.String.Regex */
.venc_source_CSS .s1 { color: #BA2121 } /* Literal.String.Single */
.venc_source_CSS .ss { color: #19177C } /* Literal.String.Symbol */
.venc_source_CSS .bp { color: #008000 } /* Name.Builtin.Pseudo */
.venc_source_CSS .fm { color: #0000FF } /* Name.Function.Magic */
.venc_source_CSS .vc { color: #19177C } /* Name.Variable.Class */
.venc_source_CSS .vg { color: #19177C } /* Name.Variable.Global */
.venc_source_CSS .vi { color: #19177C } /* Name.Variable.Instance */
.venc_source_CSS .vm { color: #19177C } /* Name.Variable.Magic */
.venc_source_CSS .il { color: #666666 } /* Literal.Number.Integer.Long */