.venc_source_Text .hll { background-color: #ffffcc }
.venc_source_Text  { background: #f8f8f8; }
.venc_source_Text .c { color: #408080; font-style: italic } /* Comment */
.venc_source_Text .err { border: 1px solid #FF0000 } /* Error */
.venc_source_Text .k { color: #008000; font-weight: bold } /* Keyword */
.venc_source_Text .o { color: #666666 } /* Operator */
.venc_source_Text .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.venc_source_Text .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.venc_source_Text .cp { color: #BC7A00 } /* Comment.Preproc */
.venc_source_Text .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.venc_source_Text .c1 { color: #408080; font-style: italic } /* Comment.Single */
.venc_source_Text .cs { color: #408080; font-style: italic } /* Comment.Special */
.venc_source_Text .gd { color: #A00000 } /* Generic.Deleted */
.venc_source_Text .ge { font-style: italic } /* Generic.Emph */
.venc_source_Text .gr { color: #FF0000 } /* Generic.Error */
.venc_source_Text .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.venc_source_Text .gi { color: #00A000 } /* Generic.Inserted */
.venc_source_Text .go { color: #888888 } /* Generic.Output */
.venc_source_Text .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.venc_source_Text .gs { font-weight: bold } /* Generic.Strong */
.venc_source_Text .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.venc_source_Text .gt { color: #0044DD } /* Generic.Traceback */
.venc_source_Text .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.venc_source_Text .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.venc_source_Text .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.venc_source_Text .kp { color: #008000 } /* Keyword.Pseudo */
.venc_source_Text .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.venc_source_Text .kt { color: #B00040 } /* Keyword.Type */
.venc_source_Text .m { color: #666666 } /* Literal.Number */
.venc_source_Text .s { color: #BA2121 } /* Literal.String */
.venc_source_Text .na { color: #7D9029 } /* Name.Attribute */
.venc_source_Text .nb { color: #008000 } /* Name.Builtin */
.venc_source_Text .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.venc_source_Text .no { color: #880000 } /* Name.Constant */
.venc_source_Text .nd { color: #AA22FF } /* Name.Decorator */
.venc_source_Text .ni { color: #999999; font-weight: bold } /* Name.Entity */
.venc_source_Text .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.venc_source_Text .nf { color: #0000FF } /* Name.Function */
.venc_source_Text .nl { color: #A0A000 } /* Name.Label */
.venc_source_Text .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.venc_source_Text .nt { color: #008000; font-weight: bold } /* Name.Tag */
.venc_source_Text .nv { color: #19177C } /* Name.Variable */
.venc_source_Text .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.venc_source_Text .w { color: #bbbbbb } /* Text.Whitespace */
.venc_source_Text .mb { color: #666666 } /* Literal.Number.Bin */
.venc_source_Text .mf { color: #666666 } /* Literal.Number.Float */
.venc_source_Text .mh { color: #666666 } /* Literal.Number.Hex */
.venc_source_Text .mi { color: #666666 } /* Literal.Number.Integer */
.venc_source_Text .mo { color: #666666 } /* Literal.Number.Oct */
.venc_source_Text .sa { color: #BA2121 } /* Literal.String.Affix */
.venc_source_Text .sb { color: #BA2121 } /* Literal.String.Backtick */
.venc_source_Text .sc { color: #BA2121 } /* Literal.String.Char */
.venc_source_Text .dl { color: #BA2121 } /* Literal.String.Delimiter */
.venc_source_Text .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.venc_source_Text .s2 { color: #BA2121 } /* Literal.String.Double */
.venc_source_Text .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.venc_source_Text .sh { color: #BA2121 } /* Literal.String.Heredoc */
.venc_source_Text .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.venc_source_Text .sx { color: #008000 } /* Literal.String.Other */
.venc_source_Text .sr { color: #BB6688 } /* Literal.String.Regex */
.venc_source_Text .s1 { color: #BA2121 } /* Literal.String.Single */
.venc_source_Text .ss { color: #19177C } /* Literal.String.Symbol */
.venc_source_Text .bp { color: #008000 } /* Name.Builtin.Pseudo */
.venc_source_Text .fm { color: #0000FF } /* Name.Function.Magic */
.venc_source_Text .vc { color: #19177C } /* Name.Variable.Class */
.venc_source_Text .vg { color: #19177C } /* Name.Variable.Global */
.venc_source_Text .vi { color: #19177C } /* Name.Variable.Instance */
.venc_source_Text .vm { color: #19177C } /* Name.Variable.Magic */
.venc_source_Text .il { color: #666666 } /* Literal.Number.Integer.Long */