@font-face
	{font-family: FiraLight;
    src: url(/FiraSans-Light.otf);}

body
	{background-image: url('bg.png');
    background-color: #101010;
	font-family: FiraLight;
	font-weight: lighter;
	color: #AAA;
    overflow-x: hidden;
	text-shadow: 0px 2px #000;
	}

.entry table
    {width: calc(100% - 15px);
    text-align: center;
    border: 1px solid rgba(255,255,255,0.5);}

.entry table td
    {border-bottom: 1px solid rgba(255,255,255,0.5);
    padding-top: 5px;
    padding-bottom: 5px;}
    
.entry table tr td:first-child
    {width: 25%;}

.entry-banner
    {height: 150px;
    width: calc(100% - 50px);
    margin-left: 0px;
    margin-right: 0px;
    background-size: cover;
    line-height: 150px;
    text-transform: uppercase;
    padding-left: 1em;
    padding-right: 1em;
    letter-spacing: 0.25em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 5px black inset;
    background-position: center center;}
    
strong
    {font-weight: bold;}
    
aside
	{display: inline-block;
    background-image: url('bg.png');
    background-color: #181818;
	position: fixed;
	top: 0px;
	left: 0px;
    z-index: 1;
    border-right: 1px solid black;
	width: 25%;
	height: 100%;
	box-shadow: 0px 0px 10px #000;
    overflow-y: hidden;
    overflow-x: hidden;}
    
aside .wrapper
    {width: 100%;
    height: 100%;
    padding-right: 25px;
    overflow-y: scroll;
}

aside header
	{text-align: center;}

aside header img
	{width:90%;}

a
	{color: #FFF;
	text-decoration: none;}

aside ul
	{list-style-type: none;
	padding-left: 10px;}

blockquote,
code,
.__VENC_PYGMENTIZE_WRAPPER__ > div
	{background-color: rgba(0,0,0,0.5);
	color: #FFF;
	font-size: 0.8em;
	padding:5px;
	border-bottom: 1px solid rgba(255,255,255,0.25);
	border-radius: 5px;}

video
    {margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);}

code
    {display: inline-block;}
    
blockquote p 
	{margin-top: 0px;
	margin-bottom: 0px;}

#border_right
    {width:1%;
    position: fixed;
    top: 0px;
	box-shadow: 0px 0px 10px #000;
    background-image: url('bg.png');
    right: 0px;
    height:100%;
    z-index: 9;
    border-left: 1px solid black;}
    
#punchline
    {text-align: center;
    font-family: FiraLight;
    font-weight: lighter;
    font-size: 3em;
    color: white;}
    
.chibi_overview
    {font-size: 4em;
    height: 100px;
    width:100%;
    color: white;
    font-family: FiraLight;
    font-weight: lighter;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    border-collapse: collapse;}

.chibi_overview td
    {width: 45%;}

.chibi_overview tr:nth-child(2n+1) td
    {text-align: left;}

.chibi_overview tr:nth-child(2n+1) td:first-child
    {text-align: center;}
    
.chibi_overview tr:nth-child(2n) td
    {text-align: center;}
    
.chibi_overview tr:nth-child(2n) td:first-child
    {text-align: right;}
    
.chibi_overview tr
    {background-image: url('overview_background_1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;}

.chibi_overview tr:nth-child(2n)
    {background-image: url('overview_background_2.png');}

.entry
    {padding-right: 15px;}
    
.entry iframe
    {margin-left: 15px;}

.__VENC_PYGMENTIZE_WRAPPER__ > div,
code
	{font-size: 1em;
	margin-left: 15px;
	margin-right: 15px;}

.__VENC_PYGMENTIZE_WRAPPER__ > div pre,
code
	{overflow: auto;
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 0px;}

#content
	{display: block;
	position: absolute;
	width: 74%;
	top:0%;
	left:25%;
	min-height: 100%;
    padding-bottom: 1em;
    clear: both;}

#content h1:not(.entry-banner),
#content h2,
#content h3,
#content blockquote,
#content p,
table
	{margin-left: 15px;}

#content p
	{text-align: justify;}

#content ul
	{list-style-type: square;}

.__VENC_TREE_BUTTON_DISABLED__
    {margin-left:0.5em;}
