@font-face
	{font-family: FiraLight;
        src: url(/FiraSans-Light.otf);}

body
	{background-image: url('bg.png');
	font-family: FiraLight;
	font-weight: lighter;
	color: #AAA;
    overflow-x: hidden;
	text-shadow: 0px 2px #000;
	background-color: #181818;}

strong
    {font-weight: bold;}
    
aside
	{display: inline-block;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 25%;
    min-width: 330px;
	height: 100%;
    padding-right: 25px;
    overflow-y: scroll;}

aside header
	{text-align: center;}

aside header img
	{width:90%;}

a
	{color: #FFF;
	text-decoration: none;}

aside ul
	{list-style-type: none;
	padding-left: 10px;}

blockquote,
.venc_source_Yaml,
.venc_source_Text,
.venc_source_html
	{background-color: rgba(0,0,0,0.5);
	color: #FFF;
	font-size: 0.8em;
	padding:5px;
	border-bottom: 1px solid rgba(255,255,255,0.25);
	border-radius: 5px;}

blockquote p 
	{margin-top: 0px;
	margin-bottom: 0px;}

.entry
    {padding-right: 15px;}

.venc_source_Yaml,
.venc_source_Text,
.venc_source_html
	{font-size: 1em;
	margin-left: 15px;
	margin-right: 15px;}

.venc_source_Yaml pre,
.venc_source_Text pre,
.venc_source_html pre
	{overflow: hidden;
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 0px;}

#content
	{display: block;
	background-image: url('bg.png');
	background-color: #101010;
	border-left: 1px solid #000;
	box-shadow: 0px 0px 10px #000 inset;
	position: absolute;
	width: 74%;
	top:0%;
	left:25%;
	min-height: 100%;}

#content h1,
#content h2,
#content h3,
#content blockquote,
#content p
	{margin-left: 15px;}

#content p
	{text-align: justify;}

#content ul
	{list-style-type: square;}

